/*Body*/
body{
  padding: 25px;
  background-color: #CCCCC3 ;
  font: Belleza;
}

footer{
  background-color: #53565A;
  color: white;
  margin-top: 10px;
}

footer p{
  margin-top: .8em!important;
  margin-left: 1.5em;
}

/* Main */
.main{
  background-color: #CCCCC3 ;
  color: black;
  height: 100%;
  min-height: 100%
}

.mainDiv{
  margin: auto;
  width: 90%;
  padding:25px;
  background-color: #4AC6E4  ;
  border: 3px solid #53565A;
}

.sidebar{
  display: flex;
  background-color: #53565A;
  margin-top: 10px;
}

ul{
  list-style-type: none;
} 


/* Sidebar */

.sidebar-list-styling{
  padding-left: 50px;
  padding-top: 15px;
  width: 20%;
  background-color: #53565A;
  color: white;
}

.sidebar-list{
  color: white;
  padding: 0;
}

.sidebar-route{
  flex: 1;
  padding: '00px';
}

/*Header*/

.header {
  margin-top: 0.5em!important;
  padding: 5px;
  text-align: center;
  background-color: #53565A;
  /* background-color: white; */
}

.header a{
  color: white;
}

.header p{
  margin-top: 0.8em!important;
}